@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Croissant+One&family=Dancing+Script&family=Kenia&family=Pacifico&family=Satisfy&display=swap');
#b1{
    height: 300px;
}
h1{
    color: black;
    text-align: center;
    padding-top: 30px;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    margin-top: 30px;
}
h2{
    color: black;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}
#r2{
    height: 300px;
    width: 100%;
    background: linear-gradient(45deg,rgb(218, 182, 117),rgb(245, 109, 132),rgb(218, 182, 117));
    margin: 0%;

}
img{
    height: 300px;
    margin-top: -5px;
    margin-left: -2px;

}
h6{
    color: black;
    text-align: center;
    margin-top: 20px;
}
button{
     align-items: center;
     background-color: rgb(247, 91, 123);
     color: white;border-radius: 20px;
     border: white;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
#b2{
    text-align: center;
    width: 100%;
    
    
}
body{
    background-color: rgb(250, 205, 188);

}
#b3{
    height: 300px;
}
button:hover{
       background-color: crimson;
}
/* .line{
    width: 5px;
    background-color: black;
    height: 200px;
    position: absolute;
    margin-left: 300px;
    margin-top: 40px;
} */
@media(max-width:700px){
    h1{
        font-size: 50px;
        margin-left: -120px;
        padding-left: 10px;
    }
    h2{
        font-size: 25px;
        margin-left: -100px;
        padding-left: 20px;


    }
    h6{
        margin-left: -120px;
    }
    button{
        margin-left: -120px;
    }
    img{
        height: 250px;
        /* margin-left: 230px;
        margin-top: -350px; */
    }
    #b1{
        width: 300px;
    }
    #b3{
        width: 200px;
        margin-left: 180px;
        margin-top: -280px;

        
    }
    /* .line{
        margin-left: -120px;
    } */
}
.abt{
    margin-top: 40px;
    background: linear-gradient(45deg,rgba(218, 183, 117, 0.623),rgba(245, 109, 132, 0.493),rgba(218, 183, 117, 0.507));

   /* background-color: rgba(240, 177, 187, 0.705);  */
   
}
h5{
    padding-top: 5px;
    color:crimson;
    font-style: oblique;
}
p{
    padding: 5px;
    padding-bottom: 10px;
}
#p1{
    font-style: italic;
}
.r1{
    background-color: rgb(214, 83, 36);

}
pre{
    font-size: large;
    padding-left: 8px;
}
/* #r3{
    margin-left:200px;
} */
#f1{
    background-color: rgb(243, 144, 164);
    margin-top: 20px;
}